<p>
	<div class="form-group">
		<label for="away.rank">Rank</label><br />
		<input class="form-control" placeholder="Use rank from sidebar" ng-model="away.rank" type="text" name="away.rank" size="2" />
	</div>
	<div class="form-group">
		<label for="away.name">Team Name</label><br />
		<input class="form-control" placeholder="" ng-model="away.name" type="text" name="away.name" />
	</div>
	<div class="form-group">
		<label for="away.flair">Team Flair</label><br />
		<span class="help"><a href="http://www.reddit.com/r/CollegeBasketball/comments/my8kj/announcement_flair_now_available/c3xl2ov">Look Up Flair</a></span><br />
		<input class="form-control" placeholder="" ng-model="away.flair" type="text" name="away.flair" />
	</div>
	<div class="form-group">
		<label for="away.record">Record</label><br />
		<input class="form-control" placeholder="12-1, 7-0 MVC" ng-model="away.record" type="text" name="away.record" size="24" />
	</div>
	<div class="form-group">
		<label for="away.subreddit">Subreddit</label><br />
		<span class="help"><a href="http://www.reddit.com/r/CollegeBasketball/comments/1alhpd/a_bigger_better_list_of_teamspecific_subreddits/">Find School Subreddits</a></span><br />
		<input class="form-control" placeholder="/r/AwayTeam" ng-model="away.subreddit" type="text" name="away.subreddit" size="24" />
	</div>
</p>
