<h2>Game Thread: ({{away.rank}}) {{away.name}} @ ({{home.rank}}) {{home.name}} ({{game.time}} {{television.channel}})</h2>

<textarea class="form-control" placeholder="145.5" rows="48" cols="72">
###NCAA Basketball

---
({{away.rank}}) [](/{{away.flair}}) **{{away.name}}** ({{away.record}}) @ ({{home.rank}}) [](/{{home.flair}}) **{{home.name}}** ({{home.record}})

Tip-Off: {{info.when}}

Venue: [{{venue.name}}]({{venue.link}})

-----------------------------------------------------------------

**[Join the live IRC chat on freenode, #redditcbb](http://webchat.freenode.net/?channels=#redditcbb)**

-----------------------------------------------------------------

**Television:**
[{{television.channel}}]({{television.url}})

**Radio:**
[{{radio.station}}]({{radio.url}})

**Internet Streams:**
[{{stream.name}}]({{stream.url}})

-----------------------------------------------------------------

**Preview:**
[ESPN]({{preview.espn}})

-----------------------------------------------------------------

**Odds**
[](/{{odds.favorite}}){{odds.favorite}}

**Game Line:** {{odds.line}}
**O/U**: {{odds.ou}}

-----------------------------------------------------------------

**Game Notes:**
{{game.notes}}

**Thread Notes:**

- Discuss whatever you wish. You can trash talk, but keep it civil.

- Turning comment sort to 'new' will help you see the newest posts.

- Try [Chrome Refresh](https://chrome.google.com/extensions/detail/aifhnlnghddfdaccgbbpbhjfkmncekmn) or Firefox's [ReloadEvery](https://addons.mozilla.org/en-US/firefox/addon/115/) to auto-refresh this tab.

- You may also like [reddit stream](http://www.reddit.com/r/CFB/comments/wn9uj/lets_discuss_game_threads_come_fall/c5esw1u) to keep up with comments.

- Check in on the /r/CollegeBasketball chat: **#redditcbb** on freenode([open in browser](http://webchat.freenode.net/?channels=#redditcbb)).

- [Follow @reddit_cbb](https://twitter.com/reddit_cbb) on twitter for news, updates, and bad attempts at humor.

- Show your team affiliation - get a team logo by clicking 'edit' in the column on the right



**Subscribe to these communities**

{{away.subreddit}}  | {{home.subreddit}}
</textarea>
      </div>
</div>
