<p>
	<label for="television.channel">Television Channel</label><br />
	<input class="form-control" placeholder="ESPN, ESPN2, CBS..."  name="television.channel" type="text" ng-model="television.channel" />
</p>
<p>
	<label for="television.url">Television URL</label><br />
	<input class="form-control" placeholder="http://cbssports.com" name="television.url" type="text" ng-model="television.url" />
</p>
<p>
	<label for="radio.channel">Radio Stations</label><br />
	<textarea rows="3" cols="60" class="form-control" placeholder="Cincinnati: 700 WLW-AM" name="radio.channel" type="text" ng-model="radio.channel"></textarea>
</p>
<p>
	<label for="stream.name">Internet Stream Name</label><br />
	<input class="form-control" placeholder="WatchESPN" name="stream.name" type="text" ng-model="stream.name" />
</p>
<p>
	<label for="stream.url">Internet Stream URL</label><br />
	<input class="form-control" placeholder="http://watchespn.com/" name="stream.url" type="text" ng-model="stream.url" />
</p>
