<p>
	<div class="form-group">
		<label for="home.rank">Rank</label><br />
		<input class="form-control" placeholder="Use rank from sidebar" ng-model="home.rank" type="text" name="home.rank" size="2" />
	</div>
	<div class="form-group">
		<label for="home.name">Team Name</label><br />
		<input class="form-control" placeholder="" ng-model="home.name" type="text" name="home.name" />
	</div>
	<div class="form-group">
		<label for="home.flair">Team Flair</label><br />
		<span class="help"><a href="http://www.reddit.com/r/CollegeBasketball/comments/my8kj/announcement_flair_now_available/c3xl2ov">Look Up Flair</a></span><br />
		<input class="form-control" placeholder="" ng-model="home.flair" type="text" name="home.flair" />
	</div>
	<div class="form-group">
		<label for="home.record">Record</label><br />
		<input class="form-control" placeholder="12-1, 7-0 PAC12" ng-model="home.record" type="text" name="home.record" size="24" />
	</div>
	<div class="form-group">
		<label for="home.subreddit">Subreddit</label><br />
		<span class="help"><a href="http://www.reddit.com/r/CollegeBasketball/comments/1alhpd/a_bigger_better_list_of_teamspecific_subreddits/">Find School Subreddits</a></span><br />
		<input class="form-control" placeholder="/r/HomeTeam" ng-model="home.subreddit" type="text" name="home.subreddit" size="24" />
	</div>
</p>
